block content

    meta(name='viewport' content='width=device-width')
    meta(name='description', content='hello superhuman')
    title hello superhuman - image gallery
    div(id="app")
    script(src='/js/bundle.js' type='text/javascript')
