$baseline-grid:            8px !default;
$layout-breakpoint-sm:     601px !default;
$layout-breakpoint-md:     961px !default;
$layout-breakpoint-lg:     1201px !default;
$layout-gutter-width:      ($baseline-grid * 2) !default;
